@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: white;
}

.app {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.tableChart {
  height: 85vh;
  width: 50vw;
  background: #f7f7ff;
  color: #262a41;
  padding: 10px 40px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & > * {
    margin-bottom: 50px;
  }
  @media only screen and (max-width: 768px) {
    padding: 5px 2px;
    width: 100%;
  }
}

table {
  line-height: 30px;
  margin-bottom: 50px;
}

input,
select {
  background: #3c3f54;
  color: #b4b5bd;
  font-weight: 700;
  padding: 1.1rem;
  border-style: none;
  border-radius: 10px;
  outline: none;
  margin-left: -20px;
}

.input1 {
  width: 100%;
}

.input2 {
  width: 108%;
}

@media only screen and (max-width: 768px) {
  .formDiv {
    padding-left: 4px;
  }
}

.formRow {
  display: flex;
  @media only screen and (max-width: 768px) {
    flex-direction: column;

    input {
      width: 90%;
    }
    div:nth-child(2) {
      margin-top: 15px;
    }
  }
}

.submitBtn {
  background: #7946c1;
  color: white;
  border-radius: 12px;
  height: 45px;
  font-size: 18px;
  border-style: none;
  outline: none;
  width: 150px;
  cursor: pointer;
  margin: 15px 0 0 -10px;
  &:hover,
  &:focus {
    background: #582d94;
    outline: none;
  }
}

.widgetGroup {
  display: flex;
  & > div {
    margin: 40px 20px;
  }
}

.widget {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  border-style: none;
  outline: none;
  &:focus {
    outline: none;
    height: 120px;
    width: 120px;
    box-shadow: none !important;
    transition: height 0.8s ease-out, width 0.8s ease-out;
  }
}

.widget1 {
  background: #f935a9;
  &:hover {
    background: #af3e81;
  }
}

.widget2 {
  background: #30bbb5;
  &:hover {
    background: #238e8a;
  }
}

thead {
  font-weight: bold;
}

.emptyDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

// Test

.button-style {
  border: 1px solid grey;
  padding: 10px;
}
